:root{
    //background text color
    --background-color: #fff;
    --background-color-2: rgb(6, 192, 192);
    
    //text colors
    --text-color: rgb(118, 118, 245);
    --text-color-2: #fff;
    }